
<div class="card card-side bg-base-100 shadow-xl">
   <figure><%= image_tag("#{album.thumbnail}") %></figure>
  <div class="card-body">
    <h2 class="card-title"><%= album.title %></h2>
    <p><%= album.subtitle %></p>
  </div>
</div>